body {
    font-family: 'Geist', sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.todo-logo {
    margin: 10px;
    width: 40px;
    height: auto;
}

.header-text {
    font-size: 30px;
    font-weight: 600;
}

.todo-item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0 20px 0 20px;
}

.todo-item {
    display:flex;
    padding: 15px;
    font-size: 18px;
    background-color: #f4f4f4;
}