body {
    font-family: 'Geist', sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.todo-logo {
    margin: 10px;
    width: 40px;
    height: auto;
}

.header-text {
    font-size: 30px;
    font-weight: 600;
}

.todo-item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 100px 0;
  padding: 0 20px 0 20px;
}

.todo-row {
  display:flex
}

.todo-item {
  display: flex;
  flex: 1;
  margin-right: 10px;
  align-items: center;
  padding: 15px;
  font-size: 18px;
  background-color: #f4f4f4;
  cursor: pointer;
}

.delete-todo-btn, .edit-todo-btn  {
  padding: 10px 20px;
  margin-left: 5px;
  font-size: 18px;
  background-color: #ff7f0e;
  color: #ffffff;
  border: none;
  cursor: pointer;
}



.todo-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
  }
  
  .todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #cccccc;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .add-todo-btn {
    padding: 10px 20px;
    margin-right: 40px;
    font-size: 18px;
    background-color: #ff7f0e;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .add-todo-btn:hover {
    background-color: #e67e22;
  }

  @media screen and (min-width: 768px){
    .todo-input-container {
      width: 70%;
      left: 15%;
  }

  .todo-item-list {
    width: 70%;
    margin: 0 auto 100px auto;
  }
}
  
